In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from pprint import pprint as pp
from inspect import signature
from datetime import datetime
import warnings
warnings.filterwarnings(action = 'ignore')
%config InlineBackend.figure_format = 'retina'
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
fm._rebuild()

In [ ]:
plt.figure(figsize=(5,5))
plt.plot([0,1], [0,1], label='한글테스트용')
plt.legend()
plt.show()

### Data파악

In [ ]:
df_jeju=pd.read_csv('./df_jeju.csv')

In [ ]:
df_jeju

In [ ]:
df_jeju.info()

In [ ]:
df_jeju

In [ ]:
df_jeju_hun=df_jeju.groupby('REG_YYMM')['AMT'].sum()

In [ ]:
type(df_jeju_hun)
print(df_jeju_hun)

In [ ]:
df_jeju['REG_YYMM'] = pd.to_datetime(df_jeju['REG_YYMM'], format='%Y%m')

In [ ]:
df_jeju

In [ ]:
df_alltime=df_jeju.groupby('REG_YYMM')['AMT'].sum()
print(df_alltime)
df_jeju2_graph = df_jeju.groupby('AGE')['AMT'].sum()
print(df_jeju2_graph)
print(type(df_jeju2_graph))
df_jeju_age_reg = df_jeju.groupby(by=['AGE','REG_YYMM'], as_index=False)['CNT','CSTMR_CNT','AMT'].sum()
print(df_jeju_age_reg)
print(type(df_jeju_age_reg))

## 각 연령대별 매월 총 방문횟수, 고객수, 총사용금액

In [ ]:
df_jeju_age_reg

## 제주시 서귀포시 매월 총 방문횟수, 고객수, 총사용금액

In [ ]:
df_jeju_card_sido_reg = df_jeju.groupby(by=['CARD_CCG_NM','REG_YYMM'], as_index=True)['CNT','CSTMR_CNT','AMT'].sum()
df_jeju_card_sido_reg

## 각 거주지역별 매월 총 방문횟수, 고객수, 총사용금액

In [ ]:
df_jeju_card_sido_reg = df_jeju.groupby(by=['HOM_SIDO_NM','HOM_CCG_NM','REG_YYMM'], as_index=True)['CNT','CSTMR_CNT','AMT'].sum()
for i in df_jeju_card_sido_reg.columns[2:]:
    df_jeju_card_sido_reg[i]=df_jeju_card_sido_reg[i].astype('float')
df_jeju_card_sido_reg['방문별 사용금액'] = df_jeju_card_sido_reg['AMT']/df_jeju_card_sido_reg['CNT']
df_jeju_card_sido_reg['1인당 사용금액'] = df_jeju_card_sido_reg['AMT']/df_jeju_card_sido_reg['CSTMR_CNT']
pd.options.display.float_format = '{:,.0f}원'.format
df_jeju_card_sido_reg

## 업종별 매월 총 방문횟수, 고객수, 총사용금액

In [ ]:
df_jeju_job_reg = df_jeju.groupby(by=['STD_CLSS_NM','REG_YYMM'], as_index=True)['CNT','CSTMR_CNT','AMT'].sum()
for i in df_jeju_job_reg.columns[2:]:
    df_jeju_job_reg[i]=df_jeju_job_reg[i].astype('float')
df_jeju_job_reg['방문별 사용금액'] = df_jeju_job_reg['AMT']/df_jeju_job_reg['CNT']
df_jeju_job_reg['1인당 사용금액'] = df_jeju_job_reg['AMT']/df_jeju_job_reg['CSTMR_CNT']
pd.options.display.float_format = '{:,.0f}원'.format
df_jeju_job_reg

## 업종별 시계열 그래프 출력 (matplotlib)

In [ ]:
column_list=df_jeju['STD_CLSS_NM'].unique()
for i in column_list:
    work = df_jeju_job_reg.loc[i]
#     print(f"{i}:{work}")
    for j in work.columns[2:]:
        work_graph = work[j]
#         print(f"{i}의 월별 {j}\n{work_graph}") 
        frame = plt.figure()
        grid = frame.add_subplot()
        grid.plot(work_graph)
        grid.set_xlabel('연월')
        grid.set_ylabel(j)
        grid.set_title(f'{i}의 월별 {j}')

## 업종별 시계열 그래프 출력 (seaborn)

In [ ]:
column_list=df_jeju['STD_CLSS_NM'].unique()
for i in column_list:
    work = df_jeju_job_reg.loc[i]
    print(f"{i}:{work}")
    for j in work.columns[2:]:
        sns.lineplot(x=work.index,y=j,data=work)
        plt.title('업종 시계열 그래프',fontsize= 15)
        plt.grid()
        plt.xlabel('월', fontsize=11)
        plt.ylabel(f'{i}의 {j}', fontsize=11)
        plt.show()

## 월별 전체 총소비액 변화추이

In [ ]:
df_jeju['AGE'].unique() # AGE 범주형 변수의 값 파악하는 메소드 unique()

### 월별 20대 총소비액 변화추이

In [ ]:
df_jeju2 = df_jeju[df_jeju['AGE']=='20s']
df_jeju2_graph = df_jeju2.groupby('REG_YYMM')['AMT'].sum()
print(type(df_jeju2_graph))
print(df_jeju2_graph)
print(df_jeju2_graph.plot())

### 월별 30대 총소비액 변화추이

In [ ]:
df_jeju3 = df_jeju[df_jeju['AGE']=='30s']
df_jeju3_graph = df_jeju3.groupby('REG_YYMM')['AMT'].sum()
df_jeju3_graph.plot()
grid1=df_jeju3_graph.plot()

### 월별 40대 총소비액 변화추이

In [ ]:
df_jeju4= df_jeju[df_jeju['AGE']=='40s']
df_jeju4_graph = df_jeju4.groupby('REG_YYMM')['AMT'].sum()
grid2=df_jeju4_graph.plot()
# grid2=df_jeju3_graph.plot()

### 월별 50대 총소비액 변화추이

In [ ]:
df_jeju5= df_jeju[df_jeju['AGE']=='50s']
df_jeju5_graph = df_jeju5.groupby('REG_YYMM')['AMT'].sum()
df_jeju5_graph.plot()

### 월별 60대 총소비액 변화추이

In [ ]:
df_jeju6= df_jeju[df_jeju['AGE']=='60s']
df_jeju6_graph = df_jeju6.groupby('REG_YYMM')['AMT'].sum()
df_jeju6_graph.plot()

### 월별 70대 총소비액 변화추이

In [ ]:
df_jeju7= df_jeju[df_jeju['AGE']=='70s']
df_jeju7_graph = df_jeju7.groupby('REG_YYMM')['AMT'].sum()
df_jeju7_graph.plot()

### 성별 평균 사용금액

In [ ]:
df_sex=plt.subplots()
df_sex = sns.countplot('SEX_CTGO_CD', data=df_jeju)
df_sex.set_title('Average amount by sex')
df_sex.set_xlabel('Sex')
df_sex.set_ylabel('mean')

### 연령별 사용금액

### 거주지역별 평균 사용금액

In [ ]:
df_jeju

In [ ]:
df_jeju1 = df_jeju[df_jeju['AGE']=='10s']
df_jeju2 = df_jeju[df_jeju['AGE']=='20s']
df_jeju3 = df_jeju[df_jeju['AGE']=='30s']
df_jeju4 = df_jeju[df_jeju['AGE']=='40s']
df_jeju5 = df_jeju[df_jeju['AGE']=='50s']
df_jeju6 = df_jeju[df_jeju['AGE']=='60s']
df_jeju7 = df_jeju[df_jeju['AGE']=='70s']
df_jeju1_graph = df_jeju1.groupby('REG_YYMM')['AMT'].sum()
df_jeju2_graph = df_jeju2.groupby('REG_YYMM')['AMT'].sum()
df_jeju3_graph = df_jeju3.groupby('REG_YYMM')['AMT'].sum()
df_jeju4_graph = df_jeju4.groupby('REG_YYMM')['AMT'].sum()
df_jeju5_graph = df_jeju5.groupby('REG_YYMM')['AMT'].sum()
df_jeju6_graph = df_jeju6.groupby('REG_YYMM')['AMT'].sum()
df_jeju7_graph = df_jeju7.groupby('REG_YYMM')['AMT'].sum()


frame = plt.figure()
grid1 = frame.add_subplot()
grid1.plot(df_jeju1_graph)
grid1.plot(df_jeju2_graph)
grid1.plot(df_jeju3_graph)
grid1.plot(df_jeju4_graph)
grid1.plot(df_jeju5_graph)
grid1.plot(df_jeju6_graph)
grid1.plot(df_jeju7_graph)
grid1.set_xlabel('연월')
grid1.set_ylabel('총사용금액')
grid1.set_title('월별 전체연령  총사용금액 변화')
grid1.legend(('10s','20s','30s','40s','50s','60s','70s'),loc='upper center', bbox_to_anchor=(0.5, -0.05),
          fancybox=True, shadow=True, ncol=5)

In [ ]:
#40ㅡ50대 외부인이 많이 소비하는 업종은 ?
# df_jeju4 = df_jeju[df_jeju['AGE']=='40s']
df_jeju4_nojeju = df_jeju4[df_jeju4['HOM_SIDO_NM']!='제주']
df_jeju4_nojeju
df_jeju4_nojeju_graph = df_jeju4_nojeju.groupby(['REG_YYMM','STD_CLSS_NM'])['AMT'].sum()
df_jeju4_nojeju_graphreset=df_jeju4_nojeju_graph.reset_index()
df_jeju4_nojeju_graphreset
df_jeju4_nojeju_graphreset['rank_AMT'] = df_jeju4_nojeju_graphreset['AMT'].rank(method='min')
df_jeju4_nojeju_graphreset
#2019년 1월 40대 육지인의 업종별 총사용금액 성적표
df_jeju4_nojeju_graphreset_01= df_jeju4_nojeju_graphreset[df_jeju4_nojeju_graphreset['REG_YYMM']=='2019-01-01']
df_jeju4_nojeju_graphreset_01['rank_AMT'] = df_jeju4_nojeju_graphreset_01['AMT'].rank(method='min',ascending = False)
df_jeju4_nojeju_graphreset_01

In [ ]:
signature(sns.lineplot) # 시그니처 함수에 사용할 메소드를 매개변수로 넣으면 메소드에 넣어야할 매개변수가 목록 나온다.

In [ ]:
frame_df_jeju4_nojeju = plt.figure()
grid_df_jeju4_nojeju = frame_df_jeju4_nojeju.add_subplot()
# grid_df_jeju4_nojeju.plot(df_jeju4_nojeju_graph)
grid_df_jeju4_nojeju =sns.lineplot(x='REG_YYMM',y='AMT', hue='STD_CLSS_NM',data=df_jeju4_nojeju_graphreset,ci=0, size = 100)
grid_df_jeju4_nojeju.set_xlabel('연월')
grid_df_jeju4_nojeju.set_ylabel('총사용금액')
grid_df_jeju4_nojeju.set_title('40대 육지인 업종별 월 사용금액')
grid_df_jeju4_nojeju.legend(loc='upper center', bbox_to_anchor=(0.5, -0.05),
          fancybox=True, shadow=True, ncol=5)

# plt.rcParams['figure.figsize']=[20,10]
# plt.xticks(fontsize = 20)

In [ ]:
df_jejuf1 = df_jeju[df_jeju['FLC']==1]
df_jejuf2 = df_jeju[df_jeju['FLC']==2]
df_jejuf3 = df_jeju[df_jeju['FLC']==3]
df_jejuf4 = df_jeju[df_jeju['FLC']==4]
df_jejuf5 = df_jeju[df_jeju['FLC']==5]

df_jejuf1_graph = df_jejuf1.groupby('REG_YYMM')['AMT'].sum()
df_jejuf2_graph = df_jejuf2.groupby('REG_YYMM')['AMT'].sum()
df_jejuf3_graph = df_jejuf3.groupby('REG_YYMM')['AMT'].sum()
df_jejuf4_graph = df_jejuf4.groupby('REG_YYMM')['AMT'].sum()
df_jejuf5_graph = df_jejuf5.groupby('REG_YYMM')['AMT'].sum()



frame = plt.figure()
gridf1 = frame.add_subplot()
gridf1.plot(df_jejuf1_graph)
gridf1.plot(df_jejuf2_graph)
gridf1.plot(df_jejuf3_graph)
gridf1.plot(df_jejuf4_graph)
gridf1.plot(df_jejuf5_graph)
gridf1.set_xlabel('연월')
gridf1.set_ylabel('총사용금액')
gridf1.set_title('월별 전체가구유형  총사용금액 변화')
gridf1.legend((1,2,3,4,5),loc='upper center', bbox_to_anchor=(0.5, -0.05),
          fancybox=True, shadow=True, ncol=5)

In [ ]:
df_jejuf1_graph

In [ ]:
pp(df_jeju['HOM_SIDO_NM'].unique())

In [ ]:
df_jejulo1 = df_jeju[df_jeju['HOM_SIDO_NM']=='부산']
df_jejulo2 = df_jeju[df_jeju['HOM_SIDO_NM']=='인천']
# df_jejulo3 = df_jeju[df_jeju['HOM_SIDO_NM']=='제주']
df_jejulo4 = df_jeju[df_jeju['HOM_SIDO_NM']=='경기']
df_jejulo5 = df_jeju[df_jeju['HOM_SIDO_NM']=='광주']
df_jejulo6 = df_jeju[df_jeju['HOM_SIDO_NM']=='대구']
df_jejulo7 = df_jeju[df_jeju['HOM_SIDO_NM']=='대전']
df_jejulo8 = df_jeju[df_jeju['HOM_SIDO_NM']=='서울']
df_jejulo9 = df_jeju[df_jeju['HOM_SIDO_NM']=='울산']
df_jejulo10 = df_jeju[df_jeju['HOM_SIDO_NM']=='전남']
df_jejulo11 = df_jeju[df_jeju['HOM_SIDO_NM']=='강원']
df_jejulo12 = df_jeju[df_jeju['HOM_SIDO_NM']=='경남']
df_jejulo13 = df_jeju[df_jeju['HOM_SIDO_NM']=='경북']
df_jejulo14 = df_jeju[df_jeju['HOM_SIDO_NM']=='세종']
df_jejulo15 = df_jeju[df_jeju['HOM_SIDO_NM']=='전북']
df_jejulo16 = df_jeju[df_jeju['HOM_SIDO_NM']=='충남']
df_jejulo17 = df_jeju[df_jeju['HOM_SIDO_NM']=='충북']


df_jejulo1_graph = df_jejulo1.groupby('REG_YYMM')['AMT'].sum()
df_jejulo2_graph = df_jejulo2.groupby('REG_YYMM')['AMT'].sum()
# df_jejulo3_graph = df_jejulo3.groupby('date')['AMT'].sum()
df_jejulo4_graph = df_jejulo4.groupby('REG_YYMM')['AMT'].sum()
df_jejulo5_graph = df_jejulo5.groupby('REG_YYMM')['AMT'].sum()
df_jejulo6_graph = df_jejulo6.groupby('REG_YYMM')['AMT'].sum()
df_jejulo7_graph = df_jejulo7.groupby('REG_YYMM')['AMT'].sum()
df_jejulo8_graph = df_jejulo8.groupby('REG_YYMM')['AMT'].sum()
df_jejulo9_graph = df_jejulo9.groupby('REG_YYMM')['AMT'].sum()
df_jejulo10_graph = df_jejulo10.groupby('REG_YYMM')['AMT'].sum()
df_jejulo11_graph = df_jejulo11.groupby('REG_YYMM')['AMT'].sum()
df_jejulo12_graph = df_jejulo12.groupby('REG_YYMM')['AMT'].sum()
df_jejulo13_graph = df_jejulo13.groupby('REG_YYMM')['AMT'].sum()
df_jejulo14_graph = df_jejulo14.groupby('REG_YYMM')['AMT'].sum()
df_jejulo15_graph = df_jejulo15.groupby('REG_YYMM')['AMT'].sum()
df_jejulo16_graph = df_jejulo16.groupby('REG_YYMM')['AMT'].sum()
df_jejulo17_graph = df_jejulo17.groupby('REG_YYMM')['AMT'].sum()




frame = plt.figure()
gridlo1 = frame.add_subplot()
gridlo1.plot(df_jejulo1_graph)
gridlo1.plot(df_jejulo2_graph)
# gridlo1.plot(df_jejulo3_graph)
gridlo1.plot(df_jejulo4_graph)
gridlo1.plot(df_jejulo5_graph)
gridlo1.plot(df_jejulo6_graph)
gridlo1.plot(df_jejulo7_graph)
gridlo1.plot(df_jejulo8_graph)
gridlo1.plot(df_jejulo9_graph)
gridlo1.plot(df_jejulo10_graph)
gridlo1.plot(df_jejulo12_graph)
gridlo1.plot(df_jejulo13_graph)
gridlo1.plot(df_jejulo14_graph)
gridlo1.plot(df_jejulo15_graph)
gridlo1.plot(df_jejulo16_graph)
gridlo1.plot(df_jejulo17_graph)

gridlo1.set_xlabel('연월')
gridlo1.set_ylabel('총사용금액')
gridlo1.set_title('월별 전체지역 총소비금액(제주제외)')
gridlo1.legend(('부산', '인천', '경기', '광주', '대구', '대전', '서울', '울산', '전남', '강원',
       '경남', '경북', '세종', '전북', '충남', '충북'),loc='upper center', bbox_to_anchor=(0.5, -0.05),
          fancybox=True, shadow=True, ncol=5)

In [ ]:
df_jejus1 = df_jeju[df_jeju['SEX_CTGO_CD']==1]
df_jejus2 = df_jeju[df_jeju['SEX_CTGO_CD']==2]

df_jejus1_graph = df_jejus1.groupby('REG_YYMM')['AMT'].sum()
df_jejus2_graph = df_jejus2.groupby('REG_YYMM')['AMT'].sum()



frame = plt.figure()
grids1 = frame.add_subplot()
grids1.plot(df_jejus1_graph)
grids1.plot(df_jejus2_graph)

grids1.set_xlabel('연월')
grids1.set_ylabel('총사용금액')
grids1.set_title('월별 성별(남성,여성) 총사용금액')
grids1.legend(('남성','여성'))

#          bbox_to_anchor=(0.5, -0.05),
#           fancybox=True, shadow=True)

In [ ]:
df_jejus1_graph = df_jejus1.groupby('REG_YYMM')['AMT'].sum()
df_jejus1_graph

In [ ]:
df_jejusc1 = df_jeju[df_jeju['SEX_CTGO_CD']==1]
df_jejusc2 = df_jeju[df_jeju['SEX_CTGO_CD']==2]

df_jejusc1_graph = df_jejusc1.groupby('REG_YYMM')['CNT'].sum()
df_jejusc2_graph = df_jejusc2.groupby('REG_YYMM')['CNT'].sum()



frame = plt.figure()
gridsc1 = frame.add_subplot()
gridsc1.plot(df_jejusc1_graph)
gridsc1.plot(df_jejusc2_graph)

gridsc1.set_xlabel('연월')
gridsc1.set_ylabel('총이용고객수')
gridsc1.set_title('월별 성별(남성,여성) 이용건수')
gridsc1.legend(('남성','여성' ))
#          bbox_to_anchor=(0.5, -0.05),
#           fancybox=True, shadow=True, ncol=5)

In [ ]:
df_jeju.groupby('HOM_SIDO_NM').count()

In [ ]:
df_jeju

In [ ]:
##제주도 업종현황
df_jeju.STD_CLSS_NM.unique()
# .reset_index()

In [ ]:
#날짜별, 업종별, 시별 분류
df_jeju_industry=df_jeju.groupby('REG_YYMM').sum()
df_jeju_industry.reset_index()
df_jeju_industry

In [ ]:
df_jejucondo = df_jeju[df_jeju['STD_CLSS_NM']=='휴양콘도 운영업']
df_jejuhotel = df_jeju[df_jeju['STD_CLSS_NM']=='호텔업']
df_jejuyeogwan = df_jeju[df_jeju['STD_CLSS_NM']=='여관업']

# (1)휴앙콘도 운영업 시도별 비교 위한 데이터프레임 출력
df_jejucondo_jejusi = df_jejucondo[df_jejucondo['CARD_CCG_NM']=='제주시']
df_jejucondo_sgp = df_jejucondo[df_jejucondo['CARD_CCG_NM']=='서귀포시']

df_jejucondo_jejusi_graph = df_jejucondo_jejusi.groupby('REG_YYMM')['AMT'].sum()
df_jejucondo_sgp_graph = df_jejucondo_sgp.groupby('REG_YYMM')['AMT'].sum()

frame_jejucondo = plt.figure()
gridjejucondo = frame_jejucondo.add_subplot()
gridjejucondo.plot(df_jejucondo_jejusi_graph)
gridjejucondo.plot(df_jejucondo_sgp_graph)

gridjejucondo.set_xlabel('연월')
gridjejucondo.set_ylabel('총사용금액')
gridjejucondo.set_title('시별(제주시, 서귀포시) 콘도사업 총매출 변화추이')
gridjejucondo.legend(('제주시','서귀포시'))

In [ ]:
# (1)휴앙콘도 운영업 시도별 비교 위한 데이터프레임 출력
df_jejucondo_jejusi = df_jejucondo[df_jejucondo['CARD_CCG_NM']=='제주시']
df_jejucondo_sgp = df_jejucondo[df_jejucondo['CARD_CCG_NM']=='서귀포시']

df_jejucondo_jejusi_graph2 = df_jejucondo_jejusi.groupby('REG_YYMM')['CNT'].sum()
df_jejucondo_sgp_graph2 = df_jejucondo_sgp.groupby('REG_YYMM')['CNT'].sum()

frame_jejucondo = plt.figure()
gridjejucondo = frame_jejucondo.add_subplot()
gridjejucondo.plot(df_jejucondo_jejusi_graph2)
gridjejucondo.plot(df_jejucondo_sgp_graph2)

gridjejucondo.set_xlabel('연월')
gridjejucondo.set_ylabel('총이용건수')
gridjejucondo.set_title('시별(제주시, 서귀포시) 콘도사업 총이용건수 변화추이')
gridjejucondo.legend(('제주시','서귀포시'))

In [ ]:
# (2) 호텔업 시도별 비교 위한 데이터프레임 출력
df_jejuhotel_jejusi = df_jejuhotel[df_jejuhotel['CARD_CCG_NM']=='제주시']
df_jejuhotel_sgp = df_jejuhotel[df_jejuhotel['CARD_CCG_NM']=='서귀포시']

df_jejuhotel_jejusi_graph = df_jejuhotel_jejusi.groupby('REG_YYMM')['AMT'].sum()
df_jejuhotel_sgp_graph = df_jejuhotel_sgp.groupby('REG_YYMM')['AMT'].sum()

frame_jejuhotel = plt.figure()
gridjejuhotel = frame_jejuhotel.add_subplot()
gridjejuhotel.plot(df_jejuhotel_jejusi_graph)
gridjejuhotel.plot(df_jejuhotel_sgp_graph)

gridjejuhotel.set_xlabel('연월')
gridjejuhotel.set_ylabel('총매출')
gridjejuhotel.set_title('시별(제주시, 서귀포시) 호텔사업 총매출 변화추이')
gridjejuhotel.legend(('제주시','서귀포시'))

In [ ]:
df_jejuhotel_jejusi = df_jejuhotel[df_jejuhotel['CARD_CCG_NM']=='제주시']
df_jejuhotel_sgp = df_jejuhotel[df_jejuhotel['CARD_CCG_NM']=='서귀포시']

df_jejuhotel_jejusi_graph = df_jejuhotel_jejusi.groupby('REG_YYMM')['AMT'].sum()
df_jejuhotel_sgp_graph = df_jejuhotel_sgp.groupby('REG_YYMM')['AMT'].sum()
df_jejuhotel_jejusi_graph2 = df_jejuhotel_jejusi.groupby('REG_YYMM')['CNT'].sum()
df_jejuhotel_sgp_graph2 = df_jejuhotel_sgp.groupby('REG_YYMM')['CNT'].sum()

frame_jejuhotel = plt.figure()
gridjejuhotel = frame_jejuhotel.add_subplot()
gridjejuhotel.plot(df_jejuhotel_jejusi_graph2)
gridjejuhotel.plot(df_jejuhotel_sgp_graph2)

gridjejuhotel.set_xlabel('연월')
gridjejuhotel.set_ylabel('총이용건수')
gridjejuhotel.set_title('시별(제주시, 서귀포시) 호텔사업 총이용건수 변화추이')
gridjejuhotel.legend(('제주시','서귀포시'))

In [ ]:
# (3) 여관업 시도별 비교 위한 데이터프레임 출력
df_jejuyeogwan_jejusi = df_jejuyeogwan[df_jejuyeogwan['CARD_CCG_NM']=='제주시']
df_jejuyeogwan_sgp = df_jejuyeogwan[df_jejuyeogwan['CARD_CCG_NM']=='서귀포시']

df_jejuyeogwan_jejusi_graph = df_jejuyeogwan_jejusi.groupby('REG_YYMM')['AMT'].sum()
df_jejuyeogwan_sgp_graph = df_jejuyeogwan_sgp.groupby('REG_YYMM')['AMT'].sum()


frame_jejuyeogwan = plt.figure()
gridjejuyeogwan = frame_jejuyeogwan.add_subplot()
gridjejuyeogwan.plot(df_jejuyeogwan_jejusi_graph)
gridjejuyeogwan.plot(df_jejuyeogwan_sgp_graph)

gridjejuyeogwan.set_xlabel('연월')
gridjejuyeogwan.set_ylabel('총매출')
gridjejuyeogwan.set_title('시별(제주시, 서귀포시) 여관업 총매출 변화추이')
gridjejuyeogwan.legend(('제주시','서귀포시'))

In [ ]:
df_jejuyeogwan_jejusi = df_jejuyeogwan[df_jejuyeogwan['CARD_CCG_NM']=='제주시']
df_jejuyeogwan_sgp = df_jejuyeogwan[df_jejuyeogwan['CARD_CCG_NM']=='서귀포시']

df_jejuyeogwan_jejusi_graph2 = df_jejuyeogwan_jejusi.groupby('REG_YYMM')['CNT'].sum()
df_jejuyeogwan_sgp_graph2 = df_jejuyeogwan_sgp.groupby('REG_YYMM')['CNT'].sum()

frame_jejuyeogwan = plt.figure()
gridjejuyeogwan = frame_jejuyeogwan.add_subplot()
gridjejuyeogwan.plot(df_jejuyeogwan_jejusi_graph2)
gridjejuyeogwan.plot(df_jejuyeogwan_sgp_graph2)

gridjejuyeogwan.set_xlabel('연월')
gridjejuyeogwan.set_ylabel('총이용건수')
gridjejuyeogwan.set_title('시별(제주시, 서귀포시) 여관업 총이용건수 변화추이')
gridjejuyeogwan.legend(('제주시','서귀포시'))

In [ ]:
df_jejucondo = df_jeju[df_jeju['STD_CLSS_NM']=='휴양콘도 운영업']
df_jejuhotel = df_jeju[df_jeju['STD_CLSS_NM']=='호텔업']
df_jejuyeogwan = df_jeju[df_jeju['STD_CLSS_NM']=='여관업']
df_jejuacco = pd.concat([df_jejucondo,df_jejuhotel,df_jejuyeogwan])

In [ ]:
df_jejuacco_jejusi = df_jejuacco[df_jejuacco['CARD_CCG_NM']=='제주시']
df_jejuacco_sgp = df_jejuacco[df_jejuacco['CARD_CCG_NM']=='서귀포시']

df_jejuacco_jejusi_graph = df_jejuacco_jejusi.groupby('REG_YYMM')['AMT'].sum()
df_jejuacco_sgp_graph = df_jejuacco_sgp.groupby('REG_YYMM')['AMT'].sum()

frame_jejuacco = plt.figure()
gridjejuacco = frame_jejuacco.add_subplot()
gridjejuacco.plot(df_jejuacco_jejusi_graph)
gridjejuacco.plot(df_jejuacco_sgp_graph)

gridjejuacco.set_xlabel('연월')
gridjejuacco.set_ylabel('총매출')
gridjejuacco.set_title('시별(제주시, 서귀포시) 숙박업 총매출 변화추이')
gridjejuacco.legend(('제주시','서귀포시'))

In [ ]:
df_jejuacco_jejusi = df_jejuacco[df_jejuacco['CARD_CCG_NM']=='제주시']
df_jejuacco_sgp = df_jejuacco[df_jejuacco['CARD_CCG_NM']=='서귀포시']
df_jejuhotel_jejusi = df_jejuhotel[df_jejuhotel['CARD_CCG_NM']=='제주시']
df_jejuhotel_sgp = df_jejuhotel[df_jejuhotel['CARD_CCG_NM']=='서귀포시']

df_jejuacco_jejusi_graph2 = df_jejuacco_jejusi.groupby('REG_YYMM')['CNT'].sum()
df_jejuacco_sgp_graph2 = df_jejuacco_sgp.groupby('REG_YYMM')['CNT'].sum()

frame_jejuacco = plt.figure()
gridjejuacco = frame_jejuacco.add_subplot()
gridjejuacco.plot(df_jejuacco_jejusi_graph2)
gridjejuacco.plot(df_jejuacco_sgp_graph2)

gridjejuacco.set_xlabel('연월')
gridjejuacco.set_ylabel('총이용건수')
gridjejuacco.set_title('시별(제주시, 서귀포시) 숙박업 총이용건수 변화추이')
gridjejuacco.legend(('제주시','서귀포시'))

plt.show()

In [ ]:
df_jeju.head()

In [ ]:
# 숙박업간 비교
# df_jejucondo = df_jeju[df_jeju['STD_CLSS_NM']=='휴양콘도 운영업']
# df_jejuhotel = df_jeju[df_jeju['STD_CLSS_NM']=='호텔업']
# df_jejuyeogwan = df_jeju[df_jeju['STD_CLSS_NM']=='여관업']

# (1)휴앙콘도 운영업 시도별 비교 위한 데이터프레임 출력
# df_jejucondo_jejusi = df_jejucondo[df_jejucondo['CARD_CCG_NM']=='제주시']
# df_jejucondo_sgp = df_jejucondo[df_jejucondo['CARD_CCG_NM']=='서귀포시']

df_jejucondo_graph = df_jejucondo.groupby('REG_YYMM')['AMT'].sum()
df_jejuhotel_graph = df_jejuhotel.groupby('REG_YYMM')['AMT'].sum()
df_jejuyeogwan_graph = df_jejuyeogwan.groupby('REG_YYMM')['AMT'].sum()


frame_jejuacco3vs = plt.figure()
gridjejuacco3vs = frame_jejuacco3vs.add_subplot()
gridjejuacco3vs.plot(df_jejucondo_graph)
gridjejuacco3vs.plot(df_jejuhotel_graph)
gridjejuacco3vs.plot(df_jejuyeogwan_graph)



gridjejuacco3vs.set_xlabel('연월', fontsize=15)
gridjejuacco3vs.set_ylabel('총사용금액', fontsize=15)
gridjejuacco3vs.set_title('제주도 숙박업별 총매출 변화추이', fontsize=15)
gridjejuacco3vs.legend(('휴양콘도 운영업','호텔업','여관업'), fontsize=7)

plt.show()

In [ ]:
df_jejucondo_graphc = df_jejucondo.groupby('REG_YYMM')['CNT'].sum()
df_jejuhotel_graphc = df_jejuhotel.groupby('REG_YYMM')['CNT'].sum()
df_jejuyeogwan_graphc = df_jejuyeogwan.groupby('REG_YYMM')['CNT'].sum()


frame_jejuacco3vsc = plt.figure()
gridjejuacco3vsc = frame_jejuacco3vsc.add_subplot()
gridjejuacco3vsc.plot(df_jejucondo_graphc)
gridjejuacco3vsc.plot(df_jejuhotel_graphc)
gridjejuacco3vsc.plot(df_jejuyeogwan_graphc)



gridjejuacco3vsc.set_xlabel('연월', fontsize=1)
gridjejuacco3vsc.set_ylabel('총사용금액', fontsize=15)
gridjejuacco3vsc.set_title('제주도 숙박업별 총이용건수 변화추이', fontsize=15)
gridjejuacco3vsc.legend(('휴양콘도 운영업','호텔업','여관업'), fontsize=7)

plt.show()

In [ ]:
frame_jejusiacco3AMT = plt.figure()
gridjejusiacco3AMT = frame_jejusiacco3AMT.add_subplot()
gridjejusiacco3AMT.plot(df_jejucondo_jejusi_graph)
gridjejusiacco3AMT.plot(df_jejuhotel_jejusi_graph)
gridjejusiacco3AMT.plot(df_jejuyeogwan_jejusi_graph)

gridjejusiacco3AMT.set_xlabel('연월',fontsize=15)
gridjejusiacco3AMT.set_ylabel('총매출액',fontsize=15)
gridjejusiacco3AMT.set_title('제주시 업종별 총매출 추이',fontsize=15)
gridjejusiacco3AMT.legend(('휴양콘도 운영업','호텔업','여관업'),fontsize=7)

In [ ]:
frame_jejusiacco3CNT = plt.figure()
gridjejusiacco3CNT = frame_jejusiacco3CNT.add_subplot()
gridjejusiacco3CNT.plot(df_jejucondo_jejusi_graph2)
gridjejusiacco3CNT.plot(df_jejuhotel_jejusi_graph2)
gridjejusiacco3CNT.plot(df_jejuyeogwan_jejusi_graph2)

gridjejusiacco3CNT.set_xlabel('연월',fontsize=15)
gridjejusiacco3CNT.set_ylabel('총이용건수',fontsize=15)
gridjejusiacco3CNT.set_title('제주시 업종별 월 총이용건수 변화추이',fontsize=15)
gridjejusiacco3CNT.legend(('휴양콘도 운영업','호텔업','여관업',),fontsize=7)

In [ ]:
frame_sgpacco3AMT = plt.figure()
gridsgpacco3AMT = frame_sgpacco3AMT.add_subplot()
# gridjejuacco6AMT.plot(df_jejucondo_jejusi_graph)
gridsgpacco3AMT.plot(df_jejucondo_sgp_graph)
# gridjejuacco6AMT.plot(df_jejuhotel_jejusi_graph)
gridsgpacco3AMT.plot(df_jejuhotel_sgp_graph)
# gridjejuacco6AMT.plot(df_jejuyeogwan_jejusi_graph)
gridsgpacco3AMT.plot(df_jejuyeogwan_sgp_graph)

gridsgpacco3AMT.set_xlabel('연월',fontsize=15)
gridsgpacco3AMT.set_ylabel('총이용건수',fontsize=15)
gridsgpacco3AMT.set_title('서귀포시 업종별 총매출 변화추이',fontsize=15)
gridsgpacco3AMT.legend(('휴양콘도 운영업','호텔업','여관업'),fontsize=7)

In [ ]:
frame_sgpacco3CNT = plt.figure()
gridsgpacco3CNT = frame_sgpacco3CNT.add_subplot()
# gridjejuacco6AMT.plot(df_jejucondo_jejusi_graph)
gridsgpacco3CNT.plot(df_jejucondo_sgp_graph2)
# gridjejuacco6AMT.plot(df_jejuhotel_jejusi_graph)
gridsgpacco3CNT.plot(df_jejuhotel_sgp_graph2)
# gridjejuacco6AMT.plot(df_jejuyeogwan_jejusi_graph)
gridsgpacco3CNT.plot(df_jejuyeogwan_sgp_graph2)

gridsgpacco3CNT.set_xlabel('연월',fontsize=15)
gridsgpacco3CNT.set_ylabel('총이용건수',fontsize=15)
gridsgpacco3CNT.set_title('서귀포시 업종별 총이용건수 추이',fontsize=15)
gridsgpacco3CNT.legend(('휴양콘도 운영업','호텔업','여관업'),fontsize=7)

In [ ]:
#시별 업종별 총매출 추이
frame_jejuacco6AMT = plt.figure()
gridjejuacco6AMT = frame_jejuacco6AMT.add_subplot()
gridjejuacco6AMT.plot(df_jejucondo_jejusi_graph)
gridjejuacco6AMT.plot(df_jejucondo_sgp_graph)
gridjejuacco6AMT.plot(df_jejuhotel_jejusi_graph)
gridjejuacco6AMT.plot(df_jejuhotel_sgp_graph)
gridjejuacco6AMT.plot(df_jejuyeogwan_jejusi_graph)
gridjejuacco6AMT.plot(df_jejuyeogwan_sgp_graph)

gridjejuacco6AMT.set_xlabel('연월',fontsize=15)
gridjejuacco6AMT.set_ylabel('총매출액',fontsize=15)
gridjejuacco6AMT.set_title('시별 업종별 총매출 추이',fontsize=15)
gridjejuacco6AMT.legend(('제주시 휴양콘도 운영업','서귀포시 휴양콘도 운영업','제주시 호텔업','서귀포시 호텔업','제주시 여관업','서귀포시 여관업'),fontsize=7)

In [ ]:
frame_jejuacco6CNT = plt.figure()
gridjejuacco6CNT = frame_jejuacco6CNT.add_subplot()
gridjejuacco6CNT.plot(df_jejucondo_jejusi_graph2)
gridjejuacco6CNT.plot(df_jejucondo_sgp_graph2)
gridjejuacco6CNT.plot(df_jejuhotel_jejusi_graph2)
gridjejuacco6CNT.plot(df_jejuhotel_sgp_graph2)
gridjejuacco6CNT.plot(df_jejuyeogwan_jejusi_graph2)
gridjejuacco6CNT.plot(df_jejuyeogwan_sgp_graph2)

gridjejuacco6CNT.set_xlabel('연월',fontsize=15)
gridjejuacco6CNT.set_ylabel('총이용건수',fontsize=15)
gridjejuacco6CNT.set_title('시별 업종별 총이용건수',fontsize=15)
gridjejuacco6CNT.legend(('제주시 휴양콘도 운영업','서귀포시 휴양콘도 운영업','제주시 호텔업','서귀포시 호텔업','제주시 여관업','서귀포시 여관업'),fontsize=7)

In [ ]:
#월별 관련업종별  

df_jejulive = df_jeju[df_jeju['SEX_CTGO_CD']==1]
df_jejulive= df_jeju[df_jeju['SEX_CTGO_CD']==2]

df_jejusc1_graph = df_jejusc1.groupby('REG_YYMM')['CNT'].sum()
df_jejusc2_graph = df_jejusc2.groupby('REG_YYMM')['CNT'].sum()


frame = plt.figure()
gridsc1 = frame.add_subplot()
gridsc1.plot(df_jejusc1_graph)
gridsc1.plot(df_jejusc2_graph)

# plt.rcParams['figure.figsize']=[20,10]
# plt.xticks(fontsize = 20)

gridsc1.set_xlabel('연월')
gridsc1.set_ylabel('총이용고객수')
gridsc1.set_title('월별 성별(남성,여성) 이용건수')
gridsc1.legend(('남성','여성' ))
#          bbox_to_anchor=(0.5, -0.05),
#           fancybox=True, shadow=True, ncol=5)
plt.show()

In [ ]:
#월별 관련업종별 월매출 변화추이   ----1 요식업

df_jejurest1 = df_jeju[df_jeju['STD_CLSS_NM']=='일식 음식점업']
df_jejurest2= df_jeju[df_jeju['STD_CLSS_NM']=='중식 음식점업']
df_jejurest3= df_jeju[df_jeju['STD_CLSS_NM']=='중식 음식점업']
df_jejurest4= df_jeju[df_jeju['STD_CLSS_NM']=='서양식 음식점업']
df_jejurest5= df_jeju[df_jeju['STD_CLSS_NM']=='기타 외국식 음식점업']



df_jejurest1_graph = df_jejurest1.groupby('REG_YYMM')['AMT'].sum()
df_jejurest2_graph = df_jejurest2.groupby('REG_YYMM')['AMT'].sum()
df_jejurest3_graph = df_jejurest3.groupby('REG_YYMM')['AMT'].sum()
df_jejurest4_graph = df_jejurest4.groupby('REG_YYMM')['AMT'].sum()
df_jejurest5_graph = df_jejurest5.groupby('REG_YYMM')['AMT'].sum()


# plt.rcParams['figure.figsize']=[30,20]
framerest = plt.figure()
gridrest = framerest.add_subplot()
gridrest.plot(df_jejurest1_graph)
gridrest.plot(df_jejurest2_graph)
gridrest.plot(df_jejurest3_graph)
gridrest.plot(df_jejurest4_graph)
gridrest.plot(df_jejurest5_graph)

gridsc1.set_xlabel('연월')
gridsc1.set_ylabel('총매출')
gridsc1.set_title('외국식 음식점업별 월매출 변화추이')
gridsc1.legend(('일식 음식점업','중식 음식점업','서양식 음식점업','기타 외국식 음식점업'))
#          bbox_to_anchor=(0.5, -0.05),
#           fancybox=True, shadow=True, ncol=5)

In [ ]:
#월별 관련업종별 월매출 변화추이   ----2 스포츠 문화 레저

df_jejusports1 = df_jeju[df_jeju['STD_CLSS_NM']=='골프장 운영업']
df_jejusports2= df_jeju[df_jeju['STD_CLSS_NM']=='기타 수상오락 서비스업']
df_jejusports3= df_jeju[df_jeju['STD_CLSS_NM']=='전시 및 행사 대행업']
df_jejusports4= df_jeju[df_jeju['STD_CLSS_NM']=='여행사업']
df_jejusports5= df_jeju[df_jeju['STD_CLSS_NM']=='그외 기타 분류안된 오락관련 서비스업']
df_jejusports6= df_jeju[df_jeju['STD_CLSS_NM']=='그외 기타 스포츠시설 운영업']




df_jejusports1_graph = df_jejusports1.groupby('REG_YYMM')['AMT'].sum()
df_jejusports2_graph = df_jejusports2.groupby('REG_YYMM')['AMT'].sum()
df_jejusports3_graph = df_jejusports3.groupby('REG_YYMM')['AMT'].sum()
df_jejusports4_graph = df_jejusports4.groupby('REG_YYMM')['AMT'].sum()
df_jejusports5_graph = df_jejusports5.groupby('REG_YYMM')['AMT'].sum()
df_jejusports6_graph = df_jejusports6.groupby('REG_YYMM')['AMT'].sum()



# plt.rcParams['figure.figsize']=[30,20]
framesports = plt.figure()
gridsports = framesports.add_subplot()
gridsports.plot(df_jejusports1_graph)
gridsports.plot(df_jejusports2_graph)
gridsports.plot(df_jejusports3_graph)
gridsports.plot(df_jejusports4_graph)
gridsports.plot(df_jejusports5_graph)
gridsports.plot(df_jejusports6_graph)


gridsc1.set_xlabel('연월')
gridsc1.set_ylabel('총매출')
gridsc1.set_title('스포츠/문화/레저업종 월매출 변화추이')
gridsc1.legend(('골프장 운영업','기타 수상오락 서비스업','전시 및 행사 대행업',' 여행사업','그외 기타 분류안된 오락관련 서비스업','그외 기타 스포츠시설 운영업'))

In [ ]:
#월별 관련업종별 월매출 변화추이   ----3 교통
df_jejutransportation1 = df_jeju[df_jeju['STD_CLSS_NM']=='택시 운송업']
df_jejutransportation2= df_jeju[df_jeju['STD_CLSS_NM']=='내항 여객 운송업']
df_jejutransportation3= df_jeju[df_jeju['STD_CLSS_NM']=='정기 항공 운송업']

df_jejutransportation1_graph = df_jejutransportation1.groupby('REG_YYMM')['AMT'].sum()
df_jejutransportation2_graph = df_jejutransportation2.groupby('REG_YYMM')['AMT'].sum()
df_jejutransportation3_graph = df_jejutransportation3.groupby('REG_YYMM')['AMT'].sum()


frametransportation = plt.figure()
gridtransportation = frametransportation.add_subplot()
gridtransportation.plot(df_jejutransportation1_graph)
gridtransportation.plot(df_jejutransportation2_graph)
gridtransportation.plot(df_jejutransportation3_graph)

gridtransportation.set_xlabel('연월')
gridtransportation.set_ylabel('총매출')
gridtransportation.set_title('교통관련 업종 월매출 변화추이')
gridtransportation.legend(('택시 운송업', '내항 여객 운송업', '정기 항공 운송업'))

In [ ]:
#교통업종 제주도거주여부에 따른 월매출 변화추이   ----3 교통
#교통업종에 따른 데이터프레임 출력
df_jejutransportation1 = df_jeju[df_jeju['STD_CLSS_NM']=='택시 운송업']
df_jejutransportation2= df_jeju[df_jeju['STD_CLSS_NM']=='내항 여객 운송업']
df_jejutransportation3= df_jeju[df_jeju['STD_CLSS_NM']=='정기 항공 운송업']
#거주지역에 따라 또다시 분류하여 데이터프레임 출력
df_jejutransportation1_jeju = df_jejutransportation1[df_jejutransportation1['HOM_SIDO_NM']=='제주']
df_jejutransportation1_nojeju = df_jejutransportation1[df_jejutransportation1['HOM_SIDO_NM']!='제주']

df_jejutransportation2_jeju= df_jejutransportation2[df_jejutransportation2['HOM_SIDO_NM']=='제주']
df_jejutransportation2_nojeju= df_jejutransportation2[df_jejutransportation2['HOM_SIDO_NM']!='제주']
df_jejutransportation3_jeju= df_jejutransportation3[df_jejutransportation3['HOM_SIDO_NM']=='제주']
df_jejutransportation3_nojeju= df_jejutransportation3[df_jejutransportation3['HOM_SIDO_NM']!='제주']

#제주도민이 사용한 교통업종끼리 묶기
df_jejutransportation_jeju = pd.concat([df_jejutransportation1_jeju,df_jejutransportation2_jeju,df_jejutransportation3_jeju])
#제주도민이 아닌 사람이 사용한 교통업종끼리 묶기
df_jejutransportation_nojeju = pd.concat(
    [df_jejutransportation1_nojeju,df_jejutransportation2_nojeju,df_jejutransportation3_nojeju])


df_jejutransportation_jeju_per=df_jejutransportation_jeju['AMT']/df_jejutransportation_jeju['CNT']
df_jejutransportation_nojeju_per=df_jejutransportation_nojeju['AMT']/df_jejutransportation_nojeju['CNT']

df_jejutransportation_jeju_graph = df_jejutransportation_jeju.groupby('REG_YYMM')['AMT'].sum()
df_jejutransportation_nojeju_graph = df_jejutransportation_nojeju.groupby('REG_YYMM')['AMT'].sum()


framejejutransportation = plt.figure()
gridjejutransportation = framejejutransportation.add_subplot()
gridjejutransportation.plot(df_jejutransportation_jeju_graph)

framejejutransportation2 = plt.figure()
gridjejutransportation2 = framejejutransportation2.add_subplot()
gridjejutransportation2.plot(df_jejutransportation_nojeju_graph)



# plt.rcParams['figure.figsize']=[20,10]
# plt.xticks(fontsize = 20)
gridjejutransportation.set_xlabel('연월')
gridjejutransportation.set_ylabel('월매출')
gridjejutransportation.set_title('교통업종 제주도민의 월사용금액 변화추이')
gridtransportation.legend('제주도민')

gridjejutransportation2.set_xlabel('연월')
gridjejutransportation2.set_ylabel('월매출')
gridjejutransportation2.set_title('교통업종 제주도 이외지역 거주민의 월사용금액 변화추이')
gridjejutransportation2.legend('이외지역거주민')

In [ ]:
df_jejutransportation1_jeju
df_jejutransportation1_jeju_hun=df_jejutransportation1_jeju.AMT.rank(pct=True)

df_jejutransportation2_jeju
df_jejutransportation2_jeju_hun=df_jejutransportation2_jeju.AMT.rank(pct=True)

df_jejutransportation3_jeju
df_jejutransportation3_jeju_hun=df_jejutransportation3_jeju.AMT.rank(pct=True)

In [ ]:
df_jejutransportation1_jeju.head()

In [ ]:
df_jejutransportation2_jeju.head()

In [ ]:
df_jejutransportation3_jeju.head()

In [ ]:
df_jejutransportation_jeju
df_jejutransportation_jeju['AMThun'] = df_jejutransportation_jeju.AMT / df_jejutransportation_jeju.AMT.sum()
# df_jejutransportation_jeju_hun=df_jejutransportation_jeju.AMT.rank(pct=True)
# df_jejutransportation_jeju['AMThun']= df_jejutransportation_jeju_hun

In [ ]:
df_jejutransportation_jeju

In [ ]:
df_jejutransportation_nojeju
df_jejutransportation_nojeju['AMThun'] = df_jejutransportation_nojeju.AMT / df_jejutransportation_nojeju.AMT.sum()

In [ ]:
df_jejutransportation_nojeju

In [ ]:
df_jejutransportation_jeju_hun_graph = df_jejutransportation_jeju.groupby('REG_YYMM')['AMThun'].sum()
df_jejutransportation_nojeju_hun_graph = df_jejutransportation_nojeju.groupby('REG_YYMM')['AMThun'].sum()




framejejutransportation_hun = plt.figure()
gridjejutransportation_hun = framejejutransportation_hun.add_subplot()
gridjejutransportation_hun.plot(df_jejutransportation_jeju_hun_graph)
gridjejutransportation_hun.plot(df_jejutransportation_nojeju_hun_graph)

gridjejutransportation.set_xlabel('연월')
gridjejutransportation.set_ylabel('월매출')
gridjejutransportation.set_title('교통업종 제주도민의 월사용금액 변화추이')
gridtransportation.legend('제주도민','비제주도민')

print(df_jejutransportation_jeju_per)

In [ ]:
df_jejutransportation_jeju_per=df_jejutransportation_jeju['AMT']/df_jejutransportation_jeju['CNT']
df_jejutransportation_nojeju_per=df_jejutransportation_nojeju['AMT']/df_jejutransportation_nojeju['CNT']
#건당 지불금액 시리즈를 데이터프레임에 추가
df_jejutransportation_jeju['AMTper']= df_jejutransportation_jeju_per
df_jejutransportation_nojeju['AMTper']= df_jejutransportation_nojeju_per


df_jejutransportation_jeju_AMTper_graph = df_jejutransportation_jeju.groupby('REG_YYMM')['AMTper'].sum()
df_jejutransportation_nojeju_AMTper_graph = df_jejutransportation_nojeju.groupby('REG_YYMM')['AMTper'].sum()




framejejutransportation_AMTper = plt.figure()
gridjejutransportation_AMTper = framejejutransportation_AMTper.add_subplot()
gridjejutransportation_AMTper.plot(df_jejutransportation_jeju_AMTper_graph)

framejejutransportation_AMTper2 = plt.figure()

gridjejutransportation_AMTper2 = framejejutransportation_AMTper2.add_subplot()
gridjejutransportation_AMTper2.plot(df_jejutransportation_nojeju_AMTper_graph)

# plt.rcParams['figure.figsize']=[20,10]
# plt.xticks(fontsize = 20)
gridjejutransportation_AMTper.set_xlabel('연월')
gridjejutransportation_AMTper.set_ylabel('월 건당지불금액 총합')
gridjejutransportation_AMTper.set_title('교통업종 제주도민의 건당지불금액 총합 변화추이')
gridjejutransportation_AMTper.legend('제주도민')

gridjejutransportation_AMTper2.set_xlabel('연월')
gridjejutransportation_AMTper2.set_ylabel('월 건당지불금액 총합')
gridjejutransportation_AMTper2.set_title('교통업종 제주이외지역 거주민들의 건당지불금액 총합 변화추이')
gridjejutransportation_AMTper2.legend('이외지역거주민')