In [3]:
import pandas as pd
from inspect import signature
from pprint import pprint as pp
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df_jeju = pd.read_csv('../df_jeju.csv')
df_js = pd.read_csv('../df_jejusubmission.csv')

In [14]:
pp(df_jeju.head())
df_jeju.info()

   Unnamed: 0  REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM HOM_SIDO_NM  \
0     1454855    201901           제주        서귀포시  건강보조식품 소매업          부산
1     1454856    201901           제주        서귀포시  건강보조식품 소매업          인천
2     1454857    201901           제주        서귀포시  건강보조식품 소매업          제주
3     1454858    201901           제주        서귀포시  건강보조식품 소매업          제주
4     1454859    201901           제주        서귀포시  건강보조식품 소매업          제주

  HOM_CCG_NM  AGE  SEX_CTGO_CD  FLC  CSTMR_CNT      AMT  CNT
0        사하구  50s            2    4          4  1900000    4
1         서구  50s            2    4          3  1300000    2
2       서귀포시  30s            1    2          3   438000    3
3       서귀포시  30s            2    2          4   552200    3
4       서귀포시  40s            1    2          3   908000    3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497503 entries, 0 to 497502
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    497503 non-null  int64
 1   REG_YYMM      497503 non-null  int64
 2   CARD_SIDO_NM  497503 non-null  object
 3   CARD_CCG_NM   497503 non-null  object
 4   STD_CLSS_NM   497503 non-null  object
 5   HOM_SIDO_NM   497503 non-null  object
 6   HOM_CCG_NM    494432 non-null  object
 7   AGE           497503 non-null  object
 8   SEX_CTGO_CD   497503 non-null  int64
 9   FLC           497503 non-null  int64
 10  CSTMR_CNT     497503 non-null  int64
 11  AMT           497503 non-null  int64
 12  CNT           497503 non-null  int64
dtypes: int64(7), object(6)
memory usage: 49.3+ MB

In [12]:
pp(df_js.head())
df_js.info()

   Unnamed: 0   id  REG_YYMM CARD_SIDO_NM           STD_CLSS_NM  AMT
0         574  574    202004           제주            건강보조식품 소매업    0
1         575  575    202004           제주               골프장 운영업    0
2         576  576    202004           제주           과실 및 채소 소매업    0
3         577  577    202004           제주     관광 민예품 및 선물용품 소매업    0
4         578  578    202004           제주  그외 기타 분류안된 오락관련 서비스업    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    82 non-null     int64
 1   id            82 non-null     int64
 2   REG_YYMM      82 non-null     int64
 3   CARD_SIDO_NM  82 non-null     object
 4   STD_CLSS_NM   82 non-null     object
 5   AMT           82 non-null     int64
dtypes: int64(4), object(2)
memory usage: 4.0+ KB